<!DOCTYPE html>
<html>
  <head>
    <title>Heinsius</title>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8" >
    <link rel="stylesheet" href="article.css">
    <script src="/artikelen.js"></script>
  </head>
  <body>
  <p>The eancode is: <%= eancode %></p>
  
    <h2>INBOEKEN EXACT</h2>
   <!-- <h4><a href="https://www.heinsius-electrotechniek.nl/">DE MAN VAN DE DOMOTICA</a></h4> -->

<div1 >
  <form action="" method="POST">
   
    <input type="text" name="eancode" placeholder="EANCODE " >
    <button type="submit">Submit</button>
  </form>
</div1>
  

 <div2>
    <td><input type='text' class='form-control text-center' ></td>
  
     <label class="right" for="lname">aantal</label>
    <input type="text"  id="lname">

    <label  for="lname">rij</label>
    <input type="text" id="lname" name="rij"   >

    <label for="lname">plank</label>
    <input type="text" id="lname" name="plank"  >

    <label for="lname">hoogte</label>
    <input type="text" id="lname" name="hoogte" >

    <label for="country">productname</label>
    <input type="text" id="lname" name="hoe"  >

    <select id="country" name="quantity">
      <option value="uk">Stuks</option>
      <option value="canada">Meter</option>
      <option value="usa">Doos</option>
    </select>
  </div2>
<div>
    <span id="result"></span>
</div>
</body>
</html>

