<!DOCTYPE html>
<html>
  <head>
    <title>Heinsius</title>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8" >
   
  </head>
    <h1><%= title  %></h1>
    <h2>INBOEKEN EXACT</h2>
   <!-- <h4><a href="https://www.heinsius-electrotechniek.nl/">DE MAN VAN DE DOMOTICA</a></h4> -->

<div  style="position: absolute; left: 20px; top: 125px; width: 400;">
 

  <form method="post" action="/{{url}}" ajax="true">
    <label for="fname">eancode</label>

   
    <input type="text" id ="EANCODE" name="eancode">
    <button class="button button1"  type="submit" >Get product</button>
   
   </form>
</div>
   
 <div  style="position: absolute; left: 20px; top: 325px; width: 400">
    <td><input type='text' class='form-control text-center' ></td>
  
     <label class="right" for="lname">aantal</label>
    <input type="text"  id="lname" value={{{flow.data[0].aantal}}}>

    <label  for="lname">rij</label>
    <input type="text"  id="lname" name="rij"  value={{{flow.data[0].rij}}}>

    <label for="lname">plank</label>
    <input type="text" id="lname" name="plank" value={{{flow.data[0].plank}}}>

    <label for="lname">hoogte</label>
    <input type="text" id="lname" name="hoogte" value={{{flow.data[0].productname}}}>


    <label for="country">quantity</label>
    <select id="country" name="quantity">
      <option value="uk">Stuks</option>
      <option value="canada">Dikke doos</option>
      <option value="usa">Grotee knoeperd van een doos</option>
    </select>
  
   

  </div>

<div>
    <span id="result"></span>
</div>


</body>
</html>

