
input[type=text], select {
    width: 75%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}


button1:hover {
    background-color: #45a049;
}


.button1 {
background-color: #4CAF50; /* Green */
border: none;
color: white;
padding: 10px 25px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 16px;
position: static;
border: 1px solid blue;
width: 175px;
height: 50px;
}


div1 {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 25px;
    width: 650px;
    position: absolute; 
    left: 20px; 
    top: 125px;
}

div2 {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 25px;
    width: 650px;
    position: absolute; 
    left: 20px; 
    top: 500px;
}

 body {
   /* background-image: url('heinsius.jpg'); */
}

